@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color1: rgb(188, 255, 54);
  --color2: rgb(46, 70, 9);
  --color3: rgba(255, 140, 0, 0.8);
  --color4: rgba(192, 115, 0, 0.8);
  --color5: rgb(249, 255, 227);
}

body {
  background: url(./images/pb4.png); 
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

/* CONTAINER ################################################# */

.container {
  height: 100vh;
  padding: 30px;
}

.form, .phonebook {
  background: url(./images/pb1.png); 
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: var(--color4) 0px 5px 15px;
  width: 500px;
  padding: 20px;
}

.form {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.phonebook {
  height: auto;
  display: grid;
  grid-template-rows: 70px 1fr;
  overflow-y: auto;
}

h2 {
  font-size: 27px;
  text-align: center;
  color: var(--color1)
}

/* FORM ################################################# */

.input {
  font-size: 20px;
  color: var(--color2);
  display: grid;
  grid-template-columns: 84px 230px;
  gap: 15px;
  padding: 10px 60px;
  align-items: center;
}

input {
  font-size: 17px;
  border-radius: 10px;
  border: none;
  background-color: var(--color5);
  padding: 5px 10px;
}

input:hover {
  transform: scale(1.05);
}

input:focus {
  outline: none;
  box-shadow: 0 0 20px var(--color5);
}

.bttnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.addBttn {
  font-size: 17px;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: var(--color1);
  box-shadow: 0 0 20px var(--color1);
}

/* PHONEBOOK ################################################# */

.dltBttn {
  border-radius: 11px;
  border: none;
  padding: 3px;
  background-color: var(--color3);
  box-shadow: 0 0 11px var(--color3);
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.list {
  background-color: var(--color5);
  border-radius: 15px;
  padding: 15px;
}

.listItem {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

.list p {
  font-size: 20px;
}

.inline {
  display: inline;
  font-size: 18px;
}

/* ALERT ################################################# */

.success, .alert {
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 5px 5px 0;
  text-align: center;
  color: var(--color5);
}

.success {
  background: var(--color1);
  box-shadow: 0 0 20px var(--color1);
}

.alert {
  background: var(--color3);
  box-shadow: 0 0 11px var(--color3);
}

.end {
  height: 50px;
}

/* SCROLLBAR ################################################# */

::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: var(--color3);
	border-radius: 5px;
	border: 6px solid transparent;
	background-clip: content-box;
  border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
	background-color: transparent;
  border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
	background-color: var(--color1);
	border-radius: 120px;
	border: 8px solid transparent;
	background-clip: content-box;
  border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color5);
  }

  ::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
  }
